langgraph
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain_tavily
chromadb

sentence-transformers

rank-bm25

pymupdf
pypdf

streamlit

ollama

langsmith

python-dotenv

pydantic

tiktoken

rapidfuzz

sqlalchemy

numpy

pandas
presidio-analyzer
presidio-anonymizer
redis